<div class="jumbotron mt-4">
    <h1 class="display-4">Compra/Venta</h1>
    <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae ipsam incidunt ea itaque debitis saepe fugit iste
        autem ducimus natus. Laborum natus iste porro, distinctio reprehenderit commodi sunt ullam corrupti.</p>
    {{#if user}}
      <a href="/about" class="btn btn-primary btn-lg">Ver Grafico</a>
    {{else}}
      <a href="users/signin" class="btn btn-primary btn-lg">Iniciar Sesion</a>
    {{/if}}



</div>