<footer class="bg-dark text-center text-lg-start text-ligth">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0 mx-auto">
        <h5 class="text-uppercase text-light">APP</h5>
        <p class="text-light">
            Una aplicación en desarrollo
        </p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0 mx-auto">
        <h5 class="text-uppercase text-light">Who was that?</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <a href="#!" class="text-light">Conocenos</a>
          </li>
          <li>
            <a href="#!" class="text-light">Contactanos</a>
          </li>
          <li class="text-light">
          Correo:<a href="#!" class="text-light">  Brayanalexisgomez9@gmail.com</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->

      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3 text-light " style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Copyright:
    <a class="text-light" href="#">ELSENA</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->