<div class="modal fade" id="v{{number}}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
               
                <div class="input-group-append">
                    <a href="" class="btn btn--outline-secondary fas fa-print redurex"></a><h5 class="modal-title" id="exampleModalLabel">Factura</h5>
                </div>
                </div>
                <img src="img/logo.png" width="200" height="100"/>
                <h5>Producto: {{name}}</h5>
                <br>

                Cantidad: {{valor}}
            </div>
        </div>
    </div>
</div>