<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">Compra/Venta App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/">Inicio <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">Grafico</a>
          </li>
      </ul>
      <ul class="navbar-nav ml-auto bg-dark">
        {{#if user}} 
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle nav-link-dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Productos
            </a>
            <div class="dropdown-menu bg-dark " aria-labelledby="navbarDropdown">
              <a class="dropdown-item text-light" href="/productos">Todos los productos</a>
            {{#if rols}}
            <a class="dropdown-item text-light" href="/productos/add">Añadir productos</a>
            {{/if}}
             {{#if rol}}
              <a class="dropdown-item text-light" href="/productos/add">Añadir productos</a>
              <a class="dropdown-item text-light" href="/users/usuarios">Usuarios</a>
              {{/if}}
              <div class="dropdown-divider"></div>
              <a class="dropdown-item text-light" href="/users/logout">Cerrar Sesion</a>
            </div>
          </li>
        {{else}}
          <li class="nav-item">
            <a class="nav-link" href="/users/signin">Iniciar Sesion</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/signup">Register</a>
          </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>
